:root {
  --color-header: #90EE90;
  --color-footer: #004512;
  --color-footer-text: #bababa;
}

html, body {
  height: 100%;
}

main {
  height: calc(100% - 135px);
  margin: 0;
  padding: 0;
  > div:first-child{
    background-color: rgba(00, 69, 27, 0.4);
    border-right: var(--color-footer) 2px solid;
    width: 400px;
    float: left;
    height: 100%;
    overflow-y: auto;
    > form {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      margin: 10px;
      label{
        width: 150px;
      }
    }
    + div {
      width: calc(100% - 400px);
      float: left;
      height: 100%;
      > div:first-child {
        height: 40px;
        > input {
          height: 100%;
        }
        + div {
          height: calc(100% - 40px);
          > textarea {
            height: 100%;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

.input-group-append > button {
  width: 50px;
}

footer {
  background-color: var(--color-footer);
  height: 80px;
  > div {
    text-align: center;
    float: left;
    margin: 3px 25px;
    width: calc(100%/3 - 50px);
    color: var(--color-footer-text);
    a {
      color: var(--color-footer-text);
    }

  }
}


#display > .input-group,
#display > .input-group *
{
  border-radius: 0;
}

header {
  color: var(--color-footer-text);
  height: 55px;
  margin: 0;
  background-color: var(--color-footer);
  padding: 0 0 0 1em;
}

footer button, footer a {
  background:none!important;
  color:var(--color-footer-text);
  border: none !important;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.contact {
  text-align: center;
}