:root {
  --color-header: #90EE90;
  --color-footer: #004512;
  --color-footer-text: #bababa;
}

html, body {
  height: 100%;
}

main {
  height: calc(100% - 135px);
  margin: 0;
  padding: 0;
}
main > div:first-child {
  background-color: rgba(0, 69, 27, 0.4);
  border-right: var(--color-footer) 2px solid;
  width: 400px;
  float: left;
  height: 100%;
  overflow-y: auto;
}
main > div:first-child > form {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
}
main > div:first-child > form label {
  width: 150px;
}
main > div:first-child + div {
  width: calc(100% - 400px);
  float: left;
  height: 100%;
}
main > div:first-child + div > div:first-child {
  height: 40px;
}
main > div:first-child + div > div:first-child > input {
  height: 100%;
}
main > div:first-child + div > div:first-child + div {
  height: calc(100% - 40px);
}
main > div:first-child + div > div:first-child + div > textarea {
  height: 100%;
  font-size: 0.8em;
}

.input-group-append > button {
  width: 50px;
}

footer {
  background-color: var(--color-footer);
  height: 80px;
}
footer > div {
  text-align: center;
  float: left;
  margin: 3px 25px;
  width: calc(100%/3 - 50px);
  color: var(--color-footer-text);
}
footer > div a {
  color: var(--color-footer-text);
}

#display > .input-group,
#display > .input-group * {
  border-radius: 0;
}

header {
  color: var(--color-footer-text);
  height: 55px;
  margin: 0;
  background-color: var(--color-footer);
  padding: 0 0 0 1em;
}

footer button, footer a {
  background: none !important;
  color: var(--color-footer-text);
  border: none !important;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

.contact {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
